<div ngClass="min-h-[80vh] flex justify-center items-center">
    <form (ngSubmit)="Regitser()" ngClass="max-w-xl w-full flex flex-col gap-2">
        <div ngClass="flex w-full">
            <label for="name"></label>
            <input class="w-full px-4 py-2 rounded" type="text" [(ngModel)]="register.name" name="name" id="name" placeholder="name"  autocomplete="off">
        </div>
        <div ngClass="flex w-full">
            <label for="email"></label>
            <input class="w-full px-4 py-2 rounded" type="email" [(ngModel)]="register.email" name="email" id="email" placeholder="email"  autocomplete="off">
        </div>
        <div ngClass="flex w-full">
            <label for="password"></label>
            <input class="w-full px-4 py-2 rounded" type="password" [(ngModel)]="register.password" name="password" id="password" placeholder="password" autocomplete="new-password">
        </div>
        <div ngClass="flex w-full">
            <label for="c-password"></label>
            <input class="w-full px-4 py-2 rounded" type="password" [(ngModel)]="register.password" name="c-password" id="c-password" placeholder="c-password" autocomplete="new-password">
        </div>
        <div ngClass="flex justify-center w-full">
            <input class="px-4 py-2 border max-w-sm w-full rounded cursor-pointer" type="submit">
        </div>
    </form>
</div>